.App{
  max-width: 600px;
  margin: 0 auto;
  padding: 20 px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: #333;
}
.todo {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form {display: flex;
  margin-top: 20px;


}
input.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

button {
  background: #0066ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.todo button {
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 4px;
}